@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, "微软雅黑";
	height:auto;
	}
.clear {
	clear:both;	/*控制分类后，各行高度不一样对不齐问题*/
	width:100%;
	height:0px;
	font-size:0;
}

/* clearfix
--------------------------------------------------------------------*/
.clear:after,.main:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clear {
	clear:both;	/*控制分类后，各行高度不一样对不齐问题*/
	width:100%;
	height:0px;
	font-size:0;
	overflow:hidden;	/*控制分类后，各行高度不一样对不齐问题*/
}
.clear,.main {display: inline-block;}/*IE7用*/
* html .clear,* html .main { zoom: 1; display: inline-block;}/* Hides from IE-mac \*/
.clear,.main{ display:block;}/* End hide from IE-mac */
.clear {/*clear: both;height:1px;margin-top:-1px;overflow:hidden;*/}
.zoom{ zoom: 1; overflow: hidden;}

/* link   全局链接样式  
--------------------------------------------------------------------*/
a:link {
	color: #333;
	text-decoration: none;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
a:visited {
	color: #333;
	text-decoration: none;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
a:hover {
	color: #000;
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
a:active {
	color: #333;
	text-decoration: none;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
/* link   全局链接样式  
--------------------------------------------------------------------*/
  

.header{
	width:100%;
	height:101px;
	padding:0;
	margin:0 auto;
	position:relative;
	}
	.log{
		width:auto;
		height:48px;
		text-align:center;
		padding:0px;
		margin:0px;
		}
		.log img{
			width:auto;
			height:100%;
			}

.product{
	width:auto;
	height:1500px;
	}
	.main_title{
		margin:40px 0 15px 0;
		height:52px;
		text-align:center;
		display:block;
		font-size:28px;
		line-height:28px;
		color:#474747;
		}
	
/*---加盟-----------------------------------------------------*/	
.join{
	width:auto;
	height:410px;
	}
	.join_list{
		width:1147px;
		height:290px;
		margin:40px auto;
		}
		.join_detail1{
			width:330px;
			height:290px;
			float:left;
			}
			.join_detail2{
				width:580px;
				height:210px;
				float:left;
				font-size:14px;
				color:#666;
				margin:40px 39px 40px 38px;
				line-height:1.8em;
				}
				.join_detail2 h3{
					font-size:18px;
					line-height:18px;
					color:#474747;
					}
				.join_detail3{
					width:160px;
					height:290px;
					float:left;
					text-align:center;
					vertical-align:middle;
					}


/*----形象------------------------------------------------------*/

.campaign{
	margin:10px auto;
	width:1147px;
	height:510px;
	overflow:hidden;
	}
	<!--首页形象轮播------------------------->
.campaign .bd{
				height:100%;
				position:relative;
				z-index:0;
				display:block;
			}
			.campaign .bd img{
				height:510px;
				width:1140px;
				display:block;
				}
			.campaign .bd ul li{
				height:510px;
				width:1140px;
			}
			
			.campaign .hd{
				position:relative;
				height:25px;
				bottom: 20px;
				overflow:hidden;
				z-index:1;
				width:1140px;
				margin:0 auto;
				text-align:center;
			}

				.campaign .hd ul{
					zoom:1;
					list-style-type:none;
					}
			.campaign .hd ul li{
				width: 8px;
				height: 8px;
				line-height:8px;
				cursor:pointer;
				border-radius:50%;
				background:transparent;
				display:inline-block;
				margin-right: 20px;
				border:solid 1.5px #474747;
			}
			.campaign .hd ul li.on{
				color:#474747;
				background:#474747;
				}
		
		
/*-----简介----------------------------------------------*/

.about{
	width:1147px;
	margin:10px auto;
	height:400px;
	}
	/*首页关于我们视频--------------------------------------------------------------*/
	.hide{ display:none}
		.about_img{
	width:600px;
		height:340px;
		float:left;
		margin:20px 65px 20px 0;
		overflow:hidden;
	}
	
	
.about_img .index_video{
	max-width: 600px;
	max-height: 340px;
	height:auto;
	margin: 0 auto;
	background-color: #000;
	}
.about_img .index_video a{
	display: block;
	width: 100%;
	height: 100%;
	overflow:hidden;
	background-image:url(../img/about_btn.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding:0;
	}
.about_img .index_video a img{
	filter:alpha(opacity=80); 
    -moz-opacity:0.8; 
    opacity:0.8;
	-webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.45s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;
	}
.about_img .index_video a:hover img{
	-webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.45s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	overflow:hidden;
	z-index:1;
	filter:alpha(opacity=30); 
    -moz-opacity:0.3; 
    opacity:0.3;
	}


	


		.about_word{
			margin:65px 0;
			width:470px;
			height:270px;
			font-size:14px;
			line-height:1.8em;
			color:#666;
			float:left;
			}
			.about_word h3{
				font-size:28px;
				line-height:28px;
				color:#474747;
				}
				
/*--------footer-----------------------------*/
.footer{
	width:100%;
	height:200px;
	}
	.footer_m{
		width:1145px;
		height:200px;
		margin:10px auto;
		}
	.footer_m .left{ width:700px; height:auto; float:left;height:200px;overflow:hidden;padding:0;}
.footer_m  .left .list{ float:left;text-decoration:none;list-style-type:none;}
.footer_m  .left .list ul{ width:135; text-align:left; float:left;}
.footer_m  .left .list ul .top{ margin-bottom:26px;}
.footer_m  .left .list ul .top a{ display:block; color:#474747; font-size:16px; text-transform:uppercase;}
.footer_m  .left .list ul li{ width:135px; margin-bottom:12px;list-style-type:none; text-decoration:none;}
.footer_m  .left .list ul li a{ color:#999; font-size:14px;}
.footer_m  .left .list ul a:hover{ color:#CCC;}
	
	
					
					
/*--页脚留言---------------------	--*/
	.footer_submit{
		width:445px;
		height:200px;
		float:left;
		font-size:14px;
		}
		
		
		.footer_submit_p{
			font-size:16px;
			color:#888;
			text-transform:uppercase;
			margin-bottom:20px;
			}
		.footer_submit_text1{
			width:135px;
			height:25px;
			margin:5px;
			float:left;
			color:#ddd;
			}

      .footer_submit_text1 input{
		    width:135px;
			line-height:25px;
			height:25px;
			font-size:14px;
			margin-right:10px;
			color:#ddd;
			border:solid #ddd 1px;
			}
			
			.footer_submit_text2{
				width:280px;
				height:65px;
				float:left;
				margin:5px;
				color:#ddd;
				}
				.textarea{
					border:solid #ddd 1px;
					line-height:20px;
					width:280px;
				height:65px;
				font-size:14px;
					}
				.footer_submit_b{
					width:137px;
					height:26px;
					line-height:25px;
					color:#ddd;
					float:left;
					margin:5px;
					border:#ddd solid 1.5px;
					text-transform:uppercase;
					font-weight: 100;
					text-align:center;
					}

a.footer_submit_b:link, a.footer_submit_b:visited {
  position: relative;
  display: block;
  width: 137px;
  border: 1.5px solid #ddd;
  color: #a0a0a0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a.footer_submit_b:link:hover, a.footer_submit_b:visited:hover {
	width:137px;
	height:26px;
    -moz-border-radius: 35px;     
   -webkit-border-radius: 35px;      
  border-radius:35px; 
  color:#fff;
  font-weight:14px;
  background:#474747;
}


/*留言页---------------------------------------------------*/
	.sub_submit{
		width:1200px;
		height:200px;
		font-size:14px;
		margin:25px auto;
		}
		
		.sub_submit_left{
			height:250px;
			width:350px;
			float:left;
			margin-right:20px;
			margin-top:5px;
			}
			.sub_submit_right{
				width:810px;
				height:250px;
				float:right;
				}
		.sub_submit_p{
			font-size:18px;
			line-height:18px;
			color:#474747;
			text-transform:uppercase;
			padding-bottom:10px;
			border-bottom:solid 1px #888;
			margin-bottom:10px;
			}
		.sub_submit_text1{
			width:350px;
			height:40px;
			margin-bottom:35px;
			color:#ddd;
			}

     .sub_submit_text1 .input{
		    width:350px;
			line-height:40px;
			height:40px;
			font-size:14px;
			color:#ddd;
			border:solid #ddd 1px;
			}
			
			.sub_submit_text2{
				width:600px;
				height:190px;
				float:left;
				margin:5px;
				color:#ddd;
				}
				.sub_submit .textarea{
					border:solid #ddd 1px;
					line-height:20px;
					width:600px;
				height:190px;
				font-size:14px;
					}
				.sub_submit_b{
					width:170px;
					height:35px;
					line-height:35px;
					color:#ddd;
					float:left;
					margin:5px;
					border:#ddd solid 1.5px;
					text-transform:uppercase;
					font-weight: 100;
					text-align:center;
					 -moz-border-radius: 5px;     
   -webkit-border-radius: 5px;      
  border-radius:5px; 
  margin-top:180px;
  margin-left:10px;
					}

a.sub_submit_b:link, a.sub_submit_b:visited {
  position: relative;
  display: block;
  width: 170px;
  border: 1.5px solid #ddd;
  color: #a0a0a0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a.sub_submit_b:link:hover, a.sub_submit_b:visited:hover {
	width:170px;
	height:35px;
    -moz-border-radius: 35px;     
   -webkit-border-radius: 35px;      
  border-radius:35px; 
  color:#fff;
  font-weight:14px;
  background:#474747;
}