@charset "utf-8";
/* CSS Document */
.navBar{
		position:relative;
		z-index: 1;
		color: #999;
		height:50px;
		width:100%;
		vertical-align:middle;
		}
.nav{
	width:auto;
	height:50px;
	margin:0 auto;
	text-align:center;
	padding:0;
	}
	.nav a {
		  position: relative;
		  display: inline-block;
		  margin:0 37px;
		  text-decoration: none;
		  color: #999;
		  font-size: 16px;
		  line-height:50px;
		  font-weight:normal;
		}
			
			.nav a:after {
				content: "";
				position: absolute;
				bottom:-3px;
				right: 0;
				width: 0;
				border-bottom: 3px solid #474747;
				transition: all linear 0.3s;
				-wedkit-transition: all linear 0.3s;
			}
			
			.nav a:hover {
				color: #474747;
			}
			
			.nav a:hover:after {
				left: 0;
				width: 100%;
				
				transition: all linear 0.3s;
				-wedkit-transition: all linear 0.3s;
			}

	.nav h3 {
			font-size: 100%;
			font-weight: normal;
			font-size: 16px;
			padding:0;
			margin:0;
			}
	  .nav .m {
			  position:relative;
			  width: auto;
			  height:53px;
			  display:inline-block;
			  text-align: center;
			  margin:0;
			  }
		.nav h3 a:link, .nav h3 a:visited {
				display:inline-block;
				color:#999;
				zoom: 1;
				text-align:center;
				width:auto;
				height: 50px;
				line-height: 50px;
				list-style-type:none;
				text-decoration:none;
				margin:0 37px;
				padding:0;
			}
			.nav h3 a:hover, .nav h3 a:active{
				color:#474747;
				text-decoration:none;
/*				border-bottom:#474747 solid 3px;
				-wedkit-transition:all 0.5s linear;
				transition: all 0.5s linear;*/
				}
					
				
			
/*当前状态*/
.nav .on a:link, .nav .on a:visited {
	color:#474747;
	border-bottom:solid 3px #474747;
	text-decoration:none;
}

/*侧边栏导航*/
.classify ul li.current{
	background:url(../../img/common/list_li.gif) no-repeat -200px 0px;
	border:1px solid #1b5eb1;
}
.classify ul li.current a.cur:link,.classify li.current a.cur:visited{
	color:#fff;
}

.paging .current:link, .paging .current:visited, .paging .current:active{
	color: #fff;
	background-color: #222;
	border: 1px solid #222;
	}
.paging a:link, .paging a:visited, .paging a:active{
	color:#666;
	}
.paging a:hover{
	color: #fff;
	background-color: #222;
	border: 1px solid #222;
	}

/* 主体布局部分 --------------*/
h1 strong,h1 em,h2 strong,h2 em,h3 strong,h3 em,h4 strong,
h4 em,h5 strong,h5 em,h6 strong,h6 em {
	font-weight: inherit;
	_font-weight: expression(this.parentNode.currentStyle.fontWeight);
	*font-weight: expression(this.parentNode.currentStyle.fontWeight);
}

/* 主体布局部分 --------------*/
