@charset "utf-8";
/* CSS Document */

/*--首页产品---------------------------------------------------------*/
.pro{
	width:1167px;
	height:1100px;
	position:relative;
	overflow:hidden;
	margin:0 auto;
	}
	
	.pro img{
		width:100%;
		height:auto;
	    transition: transform 1.6s;
		}
	.pro img:hover{
	     transform: scale(1.2);
      }
	.pro_list1{
		width:755px;
		height:517px;
		float:left;
		display:block;
		margin:10px;
		overflow:hidden;
		background:url(../img/pro1.jpg);
		}
		.pro_list1_det{
			padding:140px 0 0 0;
			width:755px;
			display:none;
			height:517px;
			position:absolute;
			
			text-align:center;
			}
			
			.pro_list1_det_bg{
			width:755px;
			display:none;
			height:517px;
			position:absolute;
			left:0;
			top:0;
			transition:all 0.4s ease-out;
			background:url(../img/black06.png);
			overflow:hidden;
				}
				
		.pro_list1_det p1{
		font-size:30px;
		line-height:30px;
		color:#474747;
		text-transform:uppercase;
		}
	.pro_list1_det p2{
		font-size:14px;
		line-height:16px;
		margin:10px;
		color:#474747;
		}
		.pro_list1_det hr{
			width:255px;
			border:1px #474747 solid;
			text-align:center;
			margin:12px auto;
			}
			
			/*首页产品按钮*/
			.pro_list1_det_b{
				width:130px;
				height:40px;
				border:#b3b4ba solid 1px;
				font-size:18px;
				line-height:40px;
				color:#666;
				text-transform:uppercase;
				margin:30px auto;
				}
				
				/*首页产品按钮2*/
				.position {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:15%
}
#workarea {
	position:absolute;
	width:100%;
	height:100%;
	background-color:#1e1a3e;
	font-family:Raleway
}
#personal {
	color:white;
	text-decoration:none;
	position:absolute;
	bottom:15px;
	right:2%
}
.spot {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0
}
.svg-wrapper {
	margin-top:0;
	position:relative;
	width:150px;
	height:40px;
	display:inline-block;
	border-radius:3px;
	margin-left:5px;
	margin-right:5px
}
#shape {
	stroke-width:6px;
	fill:transparent;
	stroke:#474747;
	stroke-dasharray:85 400;
	stroke-dashoffset:-220;
	transition:1s all ease
}
#text {
	margin-top:-33px;
	text-align:center
}
#text a {
	color:#474747;
	text-decoration:none;
	font-weight:100;
	font-size:1.1em
}
.svg-wrapper:hover #shape {
	stroke-dasharray:50 0;
	stroke-width:3px;
	stroke-dashoffset:0;
	stroke:#474747
}

				.pro_list1_det_b a:link,.pro_list1_det_b a:visited{
					text-decoration:none;
					text-align:center;
					list-style-type:none;
					color:#474747;
					}
					.pro_list1_det_b a:hover,.pro_list1_det_b a:active{
						color:#474747;
						}

		.pro_list2{
			height:517.5px;
			width:367px;
			float:left;
			display:block;
			margin:10px;
			background:#edefee;
			overflow:hidden;
			}
			.pro_list2 .zxProBox{
				float: left;
				display: inline;
				height:517.5px;
			width:367px;
			}
			.pro_list2 .zxProCon{height:517.5px;
			width:367px;text-align: center;position: relative;overflow: hidden;}
			.pro_list2 .zxProCon img{
				height:517.5px;
			width:367px;
				webkit-transition: all 0.4s linear -1ms;
				-moz-transition: all 0.4s linear -1ms;
				-ms-transition: all 0.4s linear -1ms;
				-o-transition: all 0.4s linear -1ms;
				transition: all 0.4s linear -1ms;
				}
			.pro_list2 .zxProCon:hover img{
				webkit-transition: all 0.4s linear -1ms;
				-moz-transition: all 0.4s linear -1ms;
				-ms-transition: all 0.4s linear -1ms;
				-o-transition: all 0.4s linear -1ms;
				transition: all 0.4s linear -1ms;
				transform: scale(1.2);
				-ms-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-o-transform: scale(1.2);
				overflow:hidden;
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				opacity:1;
				}
			.pro_list2 .zxProConHov{
				position: absolute;
				width: 100%;
				height: 100%;
				display: none;
				color: #fff;
				overflow: hidden;
				cursor: pointer;
				color: #fff;
				font-size: 12px;
				z-index:999;
				background-image:url(../img/black06.png);
			}

	
	
			.pro_list3{
				width:367.5px;
				height:248.5px;
				margin:10px;
				
				float:left;
				display:block;
				overflow:hidden;
				}
				
				.pro_list3 .zxProBox{
				float: left;
				display: inline;
				width:367.5px;
				height:248.5px;
			}
			.pro_list3 .zxProCon{width:367.5px;
				height:248.5px;text-align: center;position: relative;overflow: hidden;}
			.pro_list3 .zxProCon img{
				width:367.5px;
				height:248.5px;
				webkit-transition: all 0.4s linear -1ms;
				-moz-transition: all 0.4s linear -1ms;
				-ms-transition: all 0.4s linear -1ms;
				-o-transition: all 0.4s linear -1ms;
				transition: all 0.4s linear -1ms;
				}
			.pro_list3 .zxProCon:hover img{
				webkit-transition: all 0.4s linear -1ms;
				-moz-transition: all 0.4s linear -1ms;
				-ms-transition: all 0.4s linear -1ms;
				-o-transition: all 0.4s linear -1ms;
				transition: all 0.4s linear -1ms;
				transform: scale(1.2);
				-ms-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-o-transform: scale(1.2);
				overflow:hidden;
				filter: alpha(opacity=100);
				-moz-opacity: 1;
				opacity:1;
				}
			.pro_list3 .zxProConHov{
				position: absolute;
				width: 100%;
				height: 100%;
				display: none;
				color: #fff;
				overflow: hidden;
				cursor: pointer;
				color: #fff;
				font-size: 12px;
				z-index:999;
				background-image:url(../img/black06.png);
			}

.pro_b{
	width:100%;
	height:300px;
	position:relative;
	margin:10px 0 40px 0;
	overflow:hidden;
	}
	

		
	
/*------鼠标滑过------*/
	.pro_list1:hover .pro_list1_det{
		display:block;
		}
		.pro_list1_det:hover .pro_list1_det_bg{
			display:block;
			}
		
/*--------产品页----------------------*/
