@charset "utf-8";
/* CSS Document */
@import url("banner.css");
@import url("layout.css");
@import url("navi.css");
@import url("product.css");
@import url("page.css");
@import url("img_Effects.css");



html{
	overflow-x:hidden;
	}

/*浏览器滚动条*/
::-webkit-scrollbar/*整体部分*/
{
width: 10px;
height:10px;
}
::-webkit-scrollbar-track/*滑动轨道*/
{
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
border-radius: 0px;
background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb/*滑块*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.4);
}



/*网页文字复选中制效果*/
::selection {
background:#222;
color:#fff;
}
::-moz-selection{
background:#222;
color:#fff;
	}
/*网页文字复选中制效果*/


/*内页产品css-------------------------------------*/
.register {

    width: 100%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
	position:relative;
	z-index:99;

}
.nye{
	height:65px;
	width:100%;
	border-bottom:solid 1px #ddd;
	margin-bottom:10px;
	text-align:center;
	}

	.nye p1{
		font-size:22px;
		line-height:75px;
		padding:7px;
		}
		
.nye_nav{
	background:#fff;
	text-align:center;
	margin-bottom:15px;
	line-height:70px;
	height:70px;
	padding-right:8px;
	}

.nye_nav li{
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #aaa;
	margin-left:5px;
	margin-right:5px;
	}
.nye_nav li a{
	font-size: 14px;
	padding-left: 25px;
	padding-right: 25px;
	color: #666;
	border: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "微软雅黑", "黑体";
	}
.nye_nav li a:hover{
	color: #fff;
	border: 1px solid #222;
	background:#222;
	}
.nye_nav li a.cur{
	color: #fff;
	border: 1px solid #222;
	background:#222;
	}

.nye_main{
	width:1200px;
	margin:0 auto;
	}

/*products_list
----------------------------------------------------------------*/
.products_list{
	width:100%;
	}
	

.products_list ul li{
	float:left;
	height: 390px;
	width: 285px;
	border:solid 1px #ddd;
	margin-right:10px;
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
	}
.products_list ul li.last{
	margin-right:0px;
	}
.products_list ul li a{
	display:block;
	text-decoration:none;
	}
.products_list ul li .zxProCon{text-align: center;position: relative; overflow: hidden;}
.products_list ul li .zxProCon .sTit{display: block;}

.products_list ul li .zxProCon .sTit a img{height: 380px;
	width: 275px;padding:5px;
	-webkit-transition: all 0.5s linear -1ms;
	-moz-transition: all 0.5s linear -1ms;
	-ms-transition: all 0.5s linear -1ms;
	-o-transition: all 0.5s linear -1ms;
	transition: all 0.5s linear -1ms;}

.products_list ul li:hover .zxProCon .sTit a img{
	transform: scale(1.05);
	-ms-transform: scale(1.05);
	-moz-transform: scale(1.105);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	zoom: 1.05\9; /* IE 8 */
	overflow:hidden;
	}

.products_list ul li .zxProCon a.zxProConHov{position: absolute; display: none; height: 390px;
	width: 285px; background:url(../img/black06.png);overflow: hidden;cursor: pointer;}
.products_list ul li .zxProCon a.zxProConHov img{margin-top:170px;width:auto;height:auto;}

	
	/*内页新闻--------------------------------------------------*/
	.new_main {
	margin: 0 auto;
	width: 1200px;      /* 调整全局的宽度 必须是10 的倍数 */
	text-align: left;
	position: relative;
	
}

.inside_content .messages#main {
    width: 500px;
}


.new_list li {
    height: 180px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.new_list .news_two_box {
    width: 1080px;
    height: 180px;
    padding-top: 10px;
    position: relative;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
}
.new_list .news_two_img {
    width: 260px;
    height: 140px;
    padding: 10px;
    float: right;
	margin-left:20px;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
}
.new_list .news_two_txt {
    width: 600px;
    float: left;
    padding: 36px 0 28px 155px;
    transition: all .3s ease-out 0s;
}
.ser_but i {
    width: 15px;
    height: 9px;
    background: url(../img/common/icon.png) no-repeat -110px -11px;
    display: block;
    margin: 13px 0 0 11px;
}
.new_list .news_two_date {
    position: absolute;
    left: 0;
    float: left;
    padding-top: 30px;
}
.new_list .news_two_date {
    width: 80px;
    float: right;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
    color: #999;
    padding: 36px 66px 0 0;
    transition: all .3s ease-out 0s;
}
.ser_but {
    position: absolute;
    top: 90px;
    left: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid transparent;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
}
.news_two_box:hover .ser_but { 
	background: #000; 
	border: 1px solid #000; 
	margin-left: 0; 
}
.news_two_box:hover .ser_but i {
    background: url(http://gz-yhad.com/img/common/icon.png) no-repeat 0 -70px;
}
.news_two_date span {
    float: left;
    line-height: 36px;
    font-size: 24px;
    font-family: HELVETICANEUELTPRO-THEX, "微软雅黑";
}
.news_two_txt span {
    font-size: 16px;
    color: #717171;
    display: block;
    height: 24px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .3s ease-out 0s;
}
.news_two_txt i {
    height: 52px;
    color: #7D7D7D;
    line-height: 24px;
    display: block;
    overflow: hidden;
    font-style: normal;
    transition: all .3s ease-out 0s;
}
.news_two_img img {
    width: 260px;
    height: 140px;
}

.news_two_img{padding-left:20px;}
.news_two_date i {
    float: left;
    color: #ABABAB;
    font-size: 0;
}
.news_two_txt span::before {
	width: 35px;
	height: 1px;
	content: '';
	background: #bfbfbf;
	position: absolute;
	top: 56px;
	left: 90px;
	transition: all 0.3s ease-out 0s;
}
.news_two_box:hover .news_two_txt { 
	padding-left: 175px; 
}
.news_two_box:hover .news_two_txt span::before {
	width: 60px;
	transition: all 0.3s ease-out 0s;
	background: #000;
}
.news_two_box:hover .news_two_date span { 
	color: #000; 
}
.news_two_box:hover .news_two_txt span {
    color: #000;
}




/*关于我们 ----------------------------------------*/
.about_us_del{
	margin-top:20px;}

.about_us_del .index_video{
	max-width: 900px;
	max-height: 515px;
	height:auto;
	margin: 0 auto;
	background-color: #000;
	}
.about_us_del .index_video a{
	display: block;
	width: 100%;
	height: 100%;
	overflow:hidden;
	background-image:url(../img/video_ui.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding:0;
	}
.about_us_del .index_video a img{
	filter:alpha(opacity=80); 
    -moz-opacity:0.8; 
    opacity:0.8;
	-webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.45s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;
	}
.about_us_del .index_video a:hover img{
	-webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.45s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	overflow:hidden;
	z-index:1;
	filter:alpha(opacity=30); 
    -moz-opacity:0.3; 
    opacity:0.3;
	}
	
	
	

/*联系我们 百度地图----------------------------------------*/
.con_main{
	margin: 0 auto;
	width: 1200px;      /* 调整全局的宽度 必须是10 的倍数 */
	text-align: left;
	position: relative;
	}
	
	/*终端形象--------------------------------------------------------------*/
	.camp_main{margin:0 auto;
	padding-bottom:30px;
	width: 1200px;      /* 调整全局的宽度 必须是10 的倍数 */
	position: relative;}
.focusBox222 { position: relative; width:1200px; height:700px; overflow: hidden; border:solid 1px #e0e0e0; margin:0 auto;}
	.focusBox222 .pic img { width:100%; height:100%; display: block; }
	.focusBox222 .hd { overflow:hidden; zoom:1; position:absolute; bottom:15px; right:10px; z-index:3}
	.focusBox222 .hd li{float:left; line-height:15px; text-align:center; font-size:12px; width:25px; height:10px; cursor:pointer; overflow:hidden; background:#919191; margin-left:4px; filter:alpha(opacity=80); opacity:.8; -webkit-transition:All .5s ease;-moz-transition:All .5s ease;-o-transition:All .5s ease }
	.focusBox222 .hd .on{ background:#fff; filter:alpha(opacity=100);opacity:1;   }

	.focusBox222 .prev,
	.focusBox222 .next { width:45px; height:99px; position:absolute; top:131px; z-index:3; filter:alpha(opacity=20); -moz-opacity:.2; opacity:.2; -webkit-transition:All .5s ease;-moz-transition:All .5s ease;-o-transition:All .5s ease}

	.focusBox222 .prev { background-image:url(../images/index.png); background-position:-112px 0; left:0; top:280px; }
	.focusBox222 .next { background-image:url(../images/index.png); background-position:-158px 0; right:0; top:280px;  }
	.focusBox222 .prev:hover,
	.focusBox222 .next:hover { filter:alpha(opacity=60); -moz-opacity:.6; opacity:.6 }
	
	
	
	/*在线客服css*/
.side{
	position: fixed;
	width: 54px;
	height: 275px;
	right: 0;
	z-index: 1000;
	bottom: 100px;
}
.side ul li{width:54px;height:54px;float:left;position:relative;border-bottom:1px solid #444;}
.side ul li .sidebox{position:absolute;width:54px;height:54px;top:0;right:0;transition:all 0.3s;background:#000;opacity:0.8;filter:Alpha(opacity=80);color:#fff;font:14px/54px "微软雅黑";overflow:hidden;}
.side ul li .sidetop{width:54px;height:54px;line-height:54px;display:inline-block;background:#000;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#ae1c1c;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}
	
	