@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, "微软雅黑";
	}
.clear {
	clear:both;	/*控制分类后，各行高度不一样对不齐问题*/
	width:100%;
	height:0px;
	font-size:0;
	overflow:hidden;
}
.header{
	width:100%;
	height:78px;
	padding:0;
	margin:0;
	position:absolute;
	top:0;
	}
	

