@charset "utf-8";
/* CSS Document */
.navBar{
		position:absolute;
		z-index: 1;
		color: #b4b3b3;
		height:78px;
		width:100%;
		vertical-align:middle;
		top:0;
		}
.nav{
	width:auto;
	height:78px;
	margin:0 auto;
	text-align:center;
	padding:0;
	}
	.nav h3 {
			font-size: 100%;
			font-weight: normal;
			font-size: 16px;
			padding:0;
			margin:0;
			}
	  .nav .m {
			  position:relative;
			  width: auto;
			  height:78px;
			  display:inline-block;
			  text-align: center;
			  margin:0;
			  }
		.nav h3 a:link, .nav h3 a:visited {
				zoom: 1;
				text-align:center;
				width:auto;
				height: 78px;
				line-height: 78px;
				display:inline-block;
				color:#b4b3b3;
				list-style-type:none;
				text-decoration:none;
				padding:0 25px;
				margin:0;
			}
			.nav h3 a:hover, .nav h3 a:active{
				color:#FFF;
				background:#31659c;
				text-decoration:none;
				}
			
/*当前状态*/
.nav .on h3 a:link, .nav .on h3 a:visited {
	color:#FFF;
	background:#31659c;
}

/*一级*/
.nav .sub {
	display: none; /*默认隐藏*/
	width: 100px;
	position: absolute;
	left: 0px;
	top: 40px;
	float: left;
	line-height: 30px;
	border-bottom:solid 1px #CCC;
	overflow:visible;
	_width:500%;
	_border-bottom:none;
}
.nav .sub li {
	text-align: center;
}
.nav .sub li a:link, .nav .sub li a:visited {
	color:#FFF;
	display: block;
	zoom: 1;
	background:url(../../img/common/Gui.gif) repeat-x left -40px;
	border:solid 1px #CCC;
	border-top:none;
	border-bottom:none;
	_width:100px;
	_float:left;
	_display:inline-block;
}
.nav .sub li a:hover {
	background: #0f75ca;/*副色*/
	color: #fff100;
	text-decoration:none;
}